<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud</title>
    <style>
        button:hover {
            border-color: #7a7a7a;
        }

        button:active {
            background-color: #999999;
        }
    </style>
</head>

<body>
    <h1>Provizorní crud rozhraní</h1>

    <form action="/nastaveni">
        <button type="submit">Zpět</button>
    </form>

    <form action="/additem" method="POST">
        Značka <input type="text" name="brand">
        Název <input type="text" name="name">
        Počet <input type="number" name="number">
        <select name="type" id="typ">
            <option value="Tablet">Tablet</option>
            <option value="Mobil">Mobil</option>
            <option value="Notebook">Notebook</option>
            <option value="Robot">Robot</option>
            <option value="Fotoaparát">Fotoaparát</option>
            <option value="Příslušenství">Příslušenství</option>
        </select>

        <button type="submit">Přidat do databaze</button>
    </form>
    <p>
    <form action="/uplnezobrazeni"><button class="btn btn btn-light">Úplné zobrazení</button></form>

    <table class="table table-sm table-bordered table-responsive-md catalogTable">
        <thead>
            <tr>
                <th>Název</th>
                <th>Typ zařízení</th>
                <th>Dostupné</th>
                <th>Příslušenství</th>
                <th>Celkem kusů k dispozici</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <td>{{this.brand}} {{this.name}}</td>
            <td>{{this.type}}</td>
            <td>Ano</td>
            <td>Žádné</td>
            <td>{{this.times}}</td>
            <td class="tableButtons"><button name="{{this.name}}" value="{{this.brand}}"
                    class="btn btn-danger btn-sm delete" href="#">Smazat</button> <button class="btn btn-primary btn-sm"
                    href="#">Upravit</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/deleteButtonScript.js"></script>

</body>

</html>