<div class="container">
    {{>header}}
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6 mt-1 filterForm">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control searchItemAndName" id="title" name="title" placeholder="Název položky nebo jméno uživatele">
                </div>
            </form>
        </div>
        <table class="table table-sm table-bordered table-responsive-md catalogTable">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Půjčeno od</th>
                    <th>Půjčeno do</th>
                    <th>Půjčeno kusů</th>
                    <th>Vypůjčeno</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{this.brand}} {{this.name}} </td>
                    <td>{{this.borrowDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>{{this.times}}</td>
                    <td>{{this.borrowedBy}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="./js/returnButtonScript.js"></script>
    <script src="./js/search.js"></script>