<div class="container">
    <div class="containerCatalog text-center">
        {{>header}}
        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-6 mt-1 filterForm">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Název položky"
                            required>
                        <button type="submit" class="btn btn-dark">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-light mt-1" id="filterBtn">
                    <i class="fas fa-filter"></i>
                </a>
            </div>
        </div>

        <div class="filterBtnDiv">
            <a class="btn btn-light mt-1" id="filterBtn-sm">
                <i class="fas fa-filter"></i> Filtr
            </a>
        </div>

        <div id="filter_row" class="filter_row">
            <div id="inputs">
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-center text-white">
                        <input type="radio" id="a_z" name="filters">
                        <label for="a_z">Seřadit A-Z</label>
                    </div>

                    <div class="col-sm-12 col-md-4 text-center text-white">
                        <input type="radio" id="dostupne" name="filters">
                        <label for="dostupne">Podle dostupnosti</label>
                    </div>

                    <div class="col-sm-12 col-md-4 text-center text-white">
                        <input type="radio" id="kusy" name="filters">
                        <label for="kusy">Podle dostupných kusů</label>
                    </div>
                </div>
            </div>
            <button id="submit" class="btn btn-dark submitFilterBtn">Použít</button>
        </div>

        <table class="table table-sm table-bordered table-responsive-md catalogTable">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Půjčeno od</th>
                    <th>Půjčeno do</th>
                    <th>Půjčeno kusů</th>
                    <th class="action">Akce</th>
                </tr>
            </thead>
            <tbody>
                {{#each borrowedItems}}
                <tr>
                    <td>{{this.brand}} {{this.name}} </td>
                    <td>{{this.borrowDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>{{this.times}} <span class="absoluteButton"><button class="btn btn-success btn-sm return"
                                name="{{this.name}}" value="{{this.brand}}"><i class="fas fa-reply"></i></button></span>
                    </td>
                    <td class="action tableButtons"><button class="btn btn-success btn-sm return" name="{{this.name}}"
                            value="{{this.brand}}">Vrátit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="./js/filtr.js"></script>
<script src="./js/returnButtonScript.js"></script>