<div class="container">
    <div class="containerCatalog text-center">
        {{>header}}
        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-6 mt-1 filterForm">
                <form class="form-inline">
                    <div class="input-group">
                        <i class="fa fa-search icon"></i>
                        <input type="text" class="form-control searchItem" id="title" name="title"
                            placeholder="Název položky">
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-sm table-bordered table-responsive-md catalogTable">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Půjčeno od</th>
                    <th>Půjčeno do</th>
                    <th>Půjčeno kusů</th>
                    <th class="action">Akce</th>
                </tr>
            </thead>
            <tbody>
                {{#each borrowedItems}}
                <tr>
                    <td>{{this.brand}} {{this.name}} </td>
                    <td>{{this.borrowDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>{{this.times}} <span class="absoluteButton"><button class="btn btn-success btn-sm return"
                                data-toggle="modal" data-target="#returnModal" name="{{this.name}}"
                                value="{{this.brand}}"><i class="fas fa-reply clickable"></i></button></span>
                    </td>
                    <td class="action tableButtons"><button class="btn btn-success btn-sm return" data-toggle="modal"
                            data-target="#returnModal" name="{{this.name}}" value="{{this.brand}}">Vrátit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalLabel">Potvrďte prosím akci</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                    <button type="button" class="btn btn-success modalReturnButton">Vrátit</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/returnButtonScript.js"></script>
<script src="./js/search.js"></script>