<div class="container">
    <div class="containerCatalog text-center">
        {{>header}}
        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-6 mt-1 filterForm">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control searchItem" id="title" name="title"
                            placeholder="Název položky">
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-sm table-bordered table-responsive-md catalogTable">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Půjčeno od</th>
                    <th>Půjčeno do</th>
                    <th>Půjčeno kusů</th>
                    <th class="action">Akce</th>
                </tr>
            </thead>
            <tbody>
                {{#each borrowedItems}}
                <tr>
                    <td>{{this.brand}} {{this.name}} </td>
                    <td>{{this.borrowDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>{{this.times}} <span class="absoluteButton"><button class="btn btn-success btn-sm return"
                                name="{{this.name}}" value="{{this.brand}}"><i
                                    class="fas fa-reply clickable"></i></button></span>
                    </td>
                    <td class="action tableButtons"><button class="btn btn-success btn-sm return" name="{{this.name}}"
                            value="{{this.brand}}">Vrátit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="./js/returnButtonScript.js"></script>
<script src="./js/search.js"></script>